/* reset base */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Preloader */
#preloader {
  background-color: #FFEDD5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 999999;
  transform: translateY(0);
  transition: transform 1.8s cubic-bezier(0.77, 0, 0.175, 1);
}

#preloader.slide-up {
  transform: translateY(-100%);
}

#preloader video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  transform: scale(1.05);
}

@media (max-width: 900px) {
  #preloader video {
    object-fit: contain;
    transform: scale(1);
  }
}

/* iframe */
#iframe-container {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: calc(100% + 30px);
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}

#iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* seo hidden */
#seo-hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
