name: Deploy sito statico su Aruba

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare deploy folder
        run: |
          mkdir deploy
          rsync -av \
            --exclude='.git' \
            --exclude='.github' \
            --exclude='pagine' \
            ./ deploy/

          rsync -av pagine/ deploy/

      - name: Upload to Aruba
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./deploy/
          server-dir: ./

